body{
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffe9db;
}

.tile-container{
    overflow:hidden;
    width:600px;
    position: relative;
    /*left: 50%;
    margin-left: -300px;*/
}
.tile{
    width:120px;
    height:120px;
    float:left;
    background-color:#ccc;
    margin-bottom:30px;
    border-radius: 15px;
}

.tile-spacing{
    margin-right:30px;
}

.tile-image{
    width:100%;
    height:100%;
    border-radius: 15px;
}

#top-container{
    width:600px;
    position: relative;
    /*left: 50%;
    margin-left: -300px;*/
    background-color: red;
}

#tries-container{
    width:300px;
    float:left;
}

#time-container{
    width:300px;
    float:left;
}

.main-container{
    position: relative;
    width: 700px;
    left: 50%;
    margin-left: -300px;
}