body{
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

.tile-container{
    overflow:hidden;
    width:400px;
    position: relative;
    left: 50%;
    margin-left: -200px;
}
.tile{
    width:80px;
    height:80px;
    float:left;
    background-color:#ccc;
    margin-bottom:20px;
    border-radius: 10px;
}

.tile-spacing{
    margin-right:20px;
}

.tile-image{
    width:100%;
    height:100%;
    border-radius: 10px;
}